@font-face
  font-family: 'Titillium Web'
  font-style: normal
  font-weight: 300
  src: url('../fonts/TitilliumWeb-Light.woff') format('woff')
  src: url('../fonts/TitilliumWeb-Light.ttf') format('truetype')

@font-face
  font-family: 'Titillium Web'
  font-style: normal
  font-weight: 400
  src: url('../fonts/TitilliumWeb-Regular.woff') format('woff')
  src: url('../fonts/TitilliumWeb-Regular.ttf') format('truetype')

@font-face
  font-family: 'Titillium Web'
  font-style: normal
  font-weight: 700
  src: url('../fonts/TitilliumWeb-Bold.woff') format('woff')
  src: url('../fonts/TitilliumWeb-Bold.ttf') format('truetype')

@font-face
  font-family: 'fontello'
  src: url('../fonts/fontello.eot?19751341');
  src: url('../fonts/fontello.eot?19751341#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff2?19751341') format('woff2'),
       url('../fonts/fontello.woff?19751341') format('woff'),
       url('../fonts/fontello.ttf?19751341') format('truetype'),
       url('../fonts/fontello.svg?19751341#fontello') format('svg')
  font-weight: normal
  font-style: normal

[class^="icon-"]:before, [class*=" icon-"]:before, .i
  font-family: "fontello"
  font-style: normal
  font-weight: normal
  speak: none
  display: inline-block
  text-decoration: inherit
  width: 1em
  margin-right: .2em
  text-align: center
  font-variant: normal
  text-transform: none
  line-height: 1em
  margin-left: .2em

.icon-up-open-mini:before { content: '\e800'; }
.icon-right-open-mini:before { content: '\e801'; }
.icon-left-open-mini:before { content: '\e802'; }
.icon-down-open-big:before { content: '\e803'; }
.icon-left-open-big:before { content: '\e804'; }
.icon-right-open-big:before { content: '\e805'; }
.icon-up-open-big:before { content: '\e806'; }
.icon-down-open:before { content: '\e807'; }
.icon-left-open:before { content: '\e808'; }
.icon-right-open:before { content: '\e809'; }
.icon-up-open:before { content: '\e80a'; }
.icon-down-open-mini:before { content: '\e80b'; }
.icon-cancel:before { content: '\e80c'; }
.icon-cancel-circled:before { content: '\e80d'; }
.icon-cancel-squared:before { content: '\e80e'; }
.icon-plus:before { content: '\e80f'; }
.icon-plus-circled:before { content: '\e810'; }
.icon-plus-squared:before { content: '\e811'; }
.icon-minus:before { content: '\e812'; }
.icon-minus-circled:before { content: '\e813'; }
.icon-minus-squared:before { content: '\e814'; }
.icon-chat:before { content: '\e815'; }
.icon-comment:before { content: '\e816'; }
.icon-search:before { content: '\e817'; }
.icon-heart:before { content: '\e818'; }
.icon-heart-empty:before { content: '\e819'; }
.icon-star:before { content: '\e81a'; }
.icon-star-empty:before { content: '\e81b'; }
.icon-user:before { content: '\e81c'; }
.icon-users:before { content: '\e81d'; }
.icon-user-add:before { content: '\e81e'; }
.icon-video:before { content: '\e81f'; }
.icon-picture:before { content: '\e820'; }
.icon-camera:before { content: '\e821'; }
.icon-layout:before { content: '\e822'; }
.icon-menu:before { content: '\e823'; }
.icon-check:before { content: '\e824'; }
.icon-help:before { content: '\e825'; }
.icon-help-circled:before { content: '\e826'; }
.icon-info:before { content: '\e827'; }
.icon-info-circled:before { content: '\e828'; }
.icon-home:before { content: '\e829'; }
.icon-back:before { content: '\e82a'; }
.icon-link:before { content: '\e82b'; }
.icon-attach:before { content: '\e82c'; }
.icon-twitter:before { content: '\e82d'; }
.icon-facebook:before { content: '\e82e'; }
.icon-dot:before { content: '\e82f'; }
.icon-dot-2:before { content: '\e830'; }
.icon-dot-3:before { content: '\e831'; }
.icon-ccw:before { content: '\e832'; }
.icon-cw:before { content: '\e833'; }
.icon-down-bold:before { content: '\e834'; }
.icon-left-bold:before { content: '\e835'; }
.icon-right-bold:before { content: '\e836'; }
.icon-up-bold:before { content: '\e837'; }
.icon-up-dir:before { content: '\e838'; }
.icon-right-dir:before { content: '\e839'; }
.icon-left-dir:before { content: '\e83a'; }
.icon-down-dir:before { content: '\e83b'; }
.icon-up:before { content: '\e83c'; }
.icon-right:before { content: '\e83d'; }
.icon-left:before { content: '\e83e'; }
.icon-down:before { content: '\e83f'; }
.icon-mail:before { content: '\e840'; }
